@charset "utf-8";

/* 메인 슬라이더 */
.slider { width: 100%; height: 365px; position: relative; }
.slideadv { width: 100%; height: 365px; position: relative; }
.advbox { width: 1150px; margin:0 auto; height: 315px; display: flex; }
.adv { width: 912px; height: 315px; position:relative; }

.best { width: 228px; height: 315px; background-color: rgba(1,1,1,0.4); display: flex; flex-wrap: wrap; align-content: flex-start; color: #fff; }
.besttext { width: 228px; height: 35px; line-height: 35px; padding: 0 10px; border: 1px solid #b3b3b3; border-bottom: 1px solid #626262; color: #fff1a2; font-weight: bold; font-size: 15px; }
.daywrap { width: 228px; display: flex; height: auto; flex-wrap: wrap; letter-spacing: -0.8px; }
.daywrap >.today { width: 50%; height: 30px;  text-align: center; line-height: 26px; font-size: 12px; border-top: 1px solid #b3b3b3; border-right: 1px solid #b3b3b3; cursor: pointer; }
.daywrap > .week { width: 50%; height: 30px; text-align: center; line-height: 26px; font-size: 12px; border-left: 1px solid #b3b3b3; border-bottom: 1px solid #b3b3b3; border-top: 1px solid #b3b3b3; border-left: 1px solid #888; cursor: pointer; }

.todayranking { width: 100%; height: 215px; font-size: 12px; display: flex; flex-wrap: wrap; align-content: space-around; padding: 0 20px; border-bottom: 1px solid #b3b3b3; display: flex; flex-wrap: wrap; align-content: space-around; }

.weekranking { width: 100%; height: 215px; font-size: 12px; display: flex; flex-wrap: wrap; align-content: space-around; padding: 0 20px; border-bottom: 1px solid #b3b3b3; display: flex; flex-wrap: wrap; align-content: space-around; }


.fa-minus { color: #e1e0e0; margin-top: 3px; font-size: 6px; padding-left: 3px; }
.fa-caret-up { color: red; padding-left: 4px; font-size: 14px; }
.fa-caret-down { color: #2083e0; padding-left: 4px; font-size: 14px; }

.todayranking div { width: 100%; display: flex; align-items: center; }
.todayranking div span:first-child { font-weight: bold; padding-right: 10px; font-size: 13px; }
.todayranking div p { padding-left: 25px; font-size: 12px; }
.todayranking div p:hover { text-decoration: underline; cursor: pointer; }

.weekranking div { width:100%; display: flex; align-items: center; }
.weekranking div span:first-child { font-weight: bold; padding-right: 10px; font-size: 13px; }
.weekranking div p { padding-left: 25px; font-size: 12px; }
.weekranking div p:hover { text-decoration: underline; cursor: pointer; }

.bestcho { width: 100%; font-size: 15px; display: flex; height: 35px; font-size: 12px; border-top: 1px solid #665f5a; }
.chobox { color: #fff1a2; text-align: center; width: 53px; line-height: 35px;  background-color: rgba(0.4,0.4,0.4,0.4); height: 100%; font-weight: bold; }
.textbox { width: 170px; line-height: 35px; text-align: center; }
.textbox:hover { text-decoration: underline; cursor: pointer; }

.slideclick { width: 100%; height: 50px; background-color: #f7f7f7; position: absolute; bottom: 0; left: 50%; transform: translateX(-50%); }
#slideclick2 { width: 1150px; height: 100%; margin: 0 auto; border-top: 1px solid #000; display: flex; justify-content: flex-start; background-color: #f7f7f7; }
#slideclick2 > li { float:left; width: 16%; text-align: center; height: 100%; line-height: 45px; font-size: 13px; font-weight: bold; cursor: pointer; position: relative; letter-spacing: -0.8px; }
#slideclick2 > li:first-child { border-top: 3px solid red; margin-top: -1px; }
#slideclick2 > li:hover { border-top: 3px solid red; margin-top: -1px; }

#sliderimg { width: 100%; height: 100%; position: absolute; top: 0; }
#sliderimg > li { position: absolute; width: 100%; height: 100%; }
#sliderimg > li:not(:first-child) { display: none; }
#sliderimg > li > img { width: 100%; height: 110%; }


section { width: 100%; height: auto; margin:0 auto; }
section .etc_prev {left:0}
section .etc_next {right:0}

.recommendwrap { width: 1150px; margin: 80px auto; height: 900px; display: flex; justify-content: space-between; flex-wrap: wrap; align-content: flex-start; }

/*인터파크 추천!*/
.interparkwrap { width: 855px; height: 330px; border-top: 1px solid #000; position: relative; }
.interparkwrap > h3 { width: 300px; height: 50px; background-color: #fff; position: absolute; top: -26px; left: 50%; transform: translateX(-50%); text-align: center; font-size: 30px; font-weight: normal; }
.interparkwrap > h3 > span { color: #ff483b; }
.interparkwrap > .intermore { position: absolute; right: 10px; top: -20px; color: #666; font-size: 12px; } 
.intermore:hover { text-decoration: underline; cursor: pointer; }

/*인터파크 옆 배너 */
.giftcardbox { width: 95px; height: 205px; position: absolute; top: 10px; left: -130px; border: 1px solid #e8e8e8; }
#leftbox { width: 100%; height: 200px; background-color: #fff; border: 1px solid #eee; position: relative; }
#leftbox > .imgbox1 { width: 100%; height: 165px;}
#leftbox > .imgbox1 > li { width: 100%; height: 165px; overflow: hidden; padding: 1px; cursor: pointer; position: absolute; top:0; left: 0; opacity: 0; transition: all 0.4s; }
#leftbox > .imgbox1 > li > img { width: 100%; height: 100%; }
#leftbox > .button1 { width: 40px; height: 20px; margin: 0 auto; }
#leftbox > .button1 > span { background-color: #eee; font-size: 10px; color: #aaa; border: 1px solid #ccc; padding: 0 4px 2px; text-align: center; cursor: pointer; }

#leftbox2 { width: 95px; height: 140px; position: absolute; top: 225px; left: -130px; border: 1px solid #e8e8e8; cursor: pointer; }
#leftbox2 img { width: 100%; height: 100%; }

/* 인터파크 추천의 버튼*/
.interparkwrap > .interprev, .interparkwrap > .internext { position: absolute; top: 40%; font-size: 25px; color: #c9c9c9; cursor: pointer; }
.interparkwrap > .interprev:hover, .interparkwrap > .internext:hover { color: #ef544d; }
.interprev { left: 0; }
.internext { right: 0; }


/*인터파크 추천 슬라이드 */
#interslidewrap { width: 722px; height: 283px; position: absolute; top: 80%; left: 50%; transform: translate(-50%,-90%); overflow: hidden; letter-spacing: -0.8px; }
#interslidewrap > ul { width: 2888px; height: 253px; }
#interslidewrap > ul > li { width: 722px; height: 253px; float:left; display: flex; justify-content:center; }
#interslidewrap > ul > li > .interimgbox { width: 160px; height: 233px; margin-top: 30px; }
#interslidewrap > ul > li > .interimgbox > img { width: 100%; height: 100%; box-shadow: 4px 4px 4px #ddd; }
#interslidewrap > ul > li > .intertextbox { width: 400px; height: 200px; margin-top: 30px; line-height: 25px; padding: 10px 40px 0 40px; }
#interslidewrap > ul > li > .intertextbox > span { line-height: 20px; }
#interslidewrap > ul > li > .intertextbox > h5 { font-size: 14px; margin-top: 10px; }
#interslidewrap > ul > li > .intertextbox > p { font-weight: bold; font-size: 18px; }
#interslidewrap > ul > li > .intertextbox:hover > p { text-decoration: underline; cursor: pointer; }
.interpbox { font-size: 12px; }
.interpbox { width: 100%; height: 155px; margin-top: 10px; background-color: #f7f7f7; padding:10px; }
.interimgbox { position: relative; }
.intertextbox > span { color: #EF544D; font-weight: bold; font-size: 18px; }


/*Trend & Issue*/
#trend { width: 225px; height: 330px; }
#trend > .trend_title  { position: relative; top: -22px; }
#trend > .trslider { position: relative; top: -22px; }
#trend > .trslider > .slides { width: 100%; height: 330px; cursor: pointer; }
#trend > .trslider > .slides > li { width: 100%; height: 330px;position:absolute; top: 0; left: 0; display: none; }
#trend > .trslider > .slides > li:first-child { display: block; }
#trend > .trslider > .slides > li > img { width: 100%; height: 300px; }
#trend > .trslider > .side-btns > span { position: absolute; top: 60%; transform: translateY(-50%); left: 0; height: 50%; font-size: 35px; color: #ccc; cursor: pointer; padding: 0 16px; }
#trend > .trslider > .side-btns > span:last-child { left: auto; right: 0; }
#trend > .trslider > .side-btns > span:hover { color: #f7695b;}


/*출판사 초이스!*/
.choicewrap { width: 415px; height: 365px; border: 1px solid #dcdcdc; position: relative; margin-top: 50px; letter-spacing: -0.8px; }
.choicewrap > h3 { position: absolute; top: -35px; left: 0; font-size: 20px; letter-spacing: 0.3px; }
.choicewrap > h3 > span { color: #ff483b; }
.choice { width: 100%; height: 100%; position: absolute; top: 0; }
.choicewrap > span { position: absolute; top: -30px; font-size: 14px; border: 1px solid #c3c3c3; color: #777; padding:0 3px; line-height: 16px; height: 20px; cursor: pointer;}
.choicewrap > h5 { position: absolute; top: -30px; right: 55px; font-size: 14px; font-weight: normal;  }
.choicewrap > h5:not(:nth-of-type(1)) { display: none; }
.choicewrap > h5 > span { color: #f37973; }
.choprev { right: 28px; }
.chonext { right: 5px; }
#cb2 { display: none; }

/* 출판사초이스 상단 */
.choicebox { width: 100%; height: 60%; padding: 20px 30px; }
.choicebox > img { position: absolute; right: 10px; top: 10px; cursor: pointer; }
.chojson > ul { width: 100%; height: 100%; position: relative; }
.chojson > ul > li { position: absolute; }
.chojson > ul > li:not(:first-child) { display: none; }
.chojson > ul > li > img { float: left; margin: 0 20px 0 0; cursor: pointer; }
.chojson > ul > li > h3 { font-size: 15px; margin-top: 10px; color: #666; }
.chojson > ul > li:hover > h3 { text-decoration: underline; cursor: pointer; }
.chojson > ul > li > p { font-size: 13px; margin: 10px 0 10px 0px; color: #757b89; width: 300px; }
.chojson > ul > li > span { font-size: 14px; color: #434343; }
.chojson > ul > li > span > b {font-size: 14px; color: #ff483b; }
.chojson > ul > li > h5 { font-size: 13px; color: #434343; margin-top: 5px; }

/* 출판사초이스 하단 */
.choicebottombox { width: 100%; height: 40%; background-color: #f9f9f9; border-top: 1px solid #dcdcdc; }
.choicebottombox > ul { width: 100%; height: 100%; display: flex; justify-content: space-around; align-items: center; }
.choicebottombox > ul > li { width: 65px; height: 100%; position: relative; cursor: pointer; }
.choicebottombox > ul > li:hover { border-top: 2px solid #ff483b; }
.choicebottombox > ul > li:hover::before { position: absolute; top: -7px; left: 40%; content: " ";  border-bottom: 5px solid; border-left: 5px solid rgba(0, 0, 0, 0); border-right: 5px solid rgba(0, 0, 0, 0); color: #ff483b; transform: rotate(-360deg); }

.choicebottombox > ul > li > img{ width: 100%; height: 95px; box-shadow: 2px 2px 2px #ddd; margin-top: 20px; }

/*김태훈의 게으른 책읽기*/
.kimtaehoonwrap { width: 415px; height: 365px; border: 1px solid #dcdcdc; position: relative; margin-top: 50px; }
.kimtaehoonwrap > h3 { position: absolute; top: -35px; left: 0; font-size: 20px; }
.kimtaehoonwrap > h3 > span { color: #ff483b; }
.kimbox { width: 100%; height: 70%; }
.kimbox > img { width: 100%; height: 100%; cursor: pointer; }
.kimbottombox { width: 100%; height: 30%; background-color: #f9f9f9; border-top: 1px solid #dcdcdc; padding: 10px 30px; }
.kimtext { width: 100%; height: 50%; display: flex; justify-content: space-between; align-items: center; }
.kimtext > i { font-size: 32px; color: #777; }
.kimtext > span { color: #777; font-size: 13px; cursor: pointer; }
.kimtext > p { color: #777; font-size: 13px; font-weight: bold; }
.kimtext:hover > p { cursor: pointer; text-decoration: underline; }

/*이 책 어때?*/
.howbooklikethat { width: 265px; height: 365px; border: 1px solid #dcdcdc; position: relative; margin-top: 50px; }
.howbooklikethat > h3 { position: absolute; top: -35px; left: 0; font-size: 20px; }
.howbooklikethat > h3 > span { color: #ff483b; }
.howbookbox { width: 265px; height: 100%; display: flex; flex-wrap: wrap; justify-content: center; position: relative; align-content: center; }
.howulbox2 { width: 150px; height: 55px;  margin-top: 10px; overflow: hidden; }
.howulbox2 > ul { width: 795px; height: 55px; text-align: center; line-height: 180%; position: relative;  }
.howulbox2 > ul p { font-size: 12px; }
.howulbox2 > ul span { font-size: 13px; margin-top: 10px;  }
.howulbox2:hover > ul span { text-decoration: underline; cursor: pointer; color: #666; }
.howulbox2 > ul li { width: 150px; float:left; margin: 0; display: flex; flex-direction: column; align-items: center; }
.howbookbox span { position: absolute; top: 40%; transform: translateY(-40%); font-size: 20px; color: #808080; cursor: pointer; }
.howbookbox span:hover { color: #ef544d; }
.howprev { left: 15px; }
.hownext { right: 15px; }
.howbookimg { width: 172.25px; height:70%;  background-image: url(../img/img_eBookCoverBig.png); background-size: 100% 100%; }
.howulbox { width: 150px; height: 210px; margin: 20px 0 0 12px; overflow: hidden;  }
.howbookimg ul { width: 450px; height: 100%; position: relative; text-align: center; } 
.howbookimg ul li { width: 150px; height: 100%; float: left; }
.howbookimg ul li img { width: 100%; height: 100%; cursor: pointer; }

/*로그인 배너*/
.loginrecommendwrap { width: 100%; height: 150px; overflow: hidden; margin-top: 30px; margin-bottom: 70px; }
.loginbox { width: 100%; height: 100%;  display: flex; flex-direction: column; align-items: center; justify-content: center; background-image: url(../img/banner_recommend_login1.png); background-size:cover; background-position: center;  }
.login_textbox { font-size: 20px; padding-bottom: 20px; color: #4ccd97; font-weight: bold; }
.login_btn { width: 250px; height: 50px; border-radius: 50px; background-color: #00dc9a; border: none;  cursor: pointer; transition: all ease 0.2s; box-shadow: 2px 2px 2px #999; }
.login_btn span { display: inline-block; font-size: 18px; font-weight: bold; color: #fff; letter-spacing: 5px;  }
.login_btn:hover { background-color: #fff; }
.login_btn:hover span { color: #4ccd97; }

/*분야별 추천*/
.field { width: 1150px; height: auto; border-top: 1px solid #000; margin: 0 auto; position: relative; letter-spacing: -0.6px; }
.ftbox { position: absolute; top: -26px; font-size: 30px; width: 300px; height: 50px; text-align: center; background-color: #fff; left: 50%; transform:translateX(-50%); }
.ftbox span { color: #ff483b; }
.fieldbox > h4 { position: absolute;}
.field > article { width: 100%; height: auto; }
#fieldbooklist { margin: 40px auto; width: 100%; height: 45px; display: flex; justify-content: space-around; border-bottom: 1px solid #c9c9c9; }
#fieldbooklist li { float:left; width: 11%; height: 100%; line-height: 45px; text-align: center; cursor: pointer; position: relative; font-weight: bold; font-size: 14px; }
#fieldbooklist li:hover { border-bottom: 2px solid #e66a57; color:#e66a57; }
#fieldbooklist li:nth-child(1) { border-bottom: 2px solid #e66a57; color: #e66a57; }
#fieldbooklist li:hover::before { content:""; position: absolute; left: 50%; transform: translate(-50%); bottom: -12px; border-width: 5px; border-style: solid; border-color: #e66a57 transparent transparent transparent; }
#fieldchild,#fieldeconomy,#fieldlearning,#fieldforeign,#fieldebook,#fieldcd { display: none; }
#fieldhumanities,#fieldchild,#fieldeconomy,#fieldlearning,#fieldforeign,#fieldebook,#fieldcd { width: 100%; height: auto; position: relative; }

.ftextboxwrap { width: 100%; height: auto; }
.ftextwrap { width: 1000px; height: auto; display: flex; justify-content: space-between; align-content: center; flex-wrap: wrap; margin: 0 auto; position: relative; }

.ftextbox { width: 130px; height: 280px; border-radius: 4px; border: 1px solid #ddd; box-shadow: 4px 4px 4px #eee; text-align: center; display: flex; justify-content: center; align-content: flex-start; flex-wrap: wrap; padding: 0 10px; }
.ftextbox img { width: 120px; height: 175px; cursor: pointer;}
.ftextbox h5 { margin-top: 10px; font-size: 12px; }
.ftextbox:hover h5 { text-decoration: underline; cursor: pointer; }
.ftextbox h6:nth-of-type(1) { width: 60px; font-size: 14px; margin-top: 10px; width: 100px; font-weight: normal; }
.saleprice { color: #ddd; text-decoration: line-through; font-size: 12px; width: 50px; height: 20px; }
.saleprice2 { color: #e66a57; }
.fadvwrap { display: flex; justify-content: space-between; width: 1000px; margin: 0 auto; }
.fadv { width: 490px; height: 80px; margin-top: 30px; }
.fadv > img { width: 100%; height: 100%; cursor: pointer; }

/* 이달의책 , 단독 혜택, 중고도서*/
.usedwrap { width: 1150px; height: 1500px; margin: 0 auto; display: flex; justify-content: space-between; flex-wrap: wrap; align-content: flex-start; letter-spacing: -0.8px;  }

/* 이달의책 */
.thismonth { width: 500px; height: 375px; margin-top: 90px; border-top: 1px solid #000; position: relative; letter-spacing: -0.8px; }
.thismonth > h3 { position: absolute; top: -32px; font-size: 18px; font-weight: normal; }
.thismonth > h3 > span { color: #e66a57; }
.thismonth > h4 { position: absolute; top: -26px; left: 140px; font-size: 12px; color: #666; font-weight: normal; cursor: pointer; }
.thismonth > h4:hover { text-decoration: underline; }

.thismonth > span { position: absolute; top: -28px; font-size: 14px; border: 1px solid #c3c3c3; color: #777; padding: 0 3px; line-height: 16px; height: 20px; cursor: pointer; }

.thisprev { right:28px; }
.thisnext { right:5px; }
.thisulbox { width: 500px; height: 375px; overflow: hidden; padding: 30px; }
.thisulbox > ul { width: 1600px; height: 100% }
.thisulbox > ul > li { width: 400px; height: 100%; float: left; }
.thisulbox > ul > li:not(:first-child) { display: none; }
.thisulbox > ul > li > .wrap-star { display: flex; flex-direction: column; justify-content: space-between; position: relative; width: 80%; height: 50%; margin: 20px 0 0 110px; }
.thisulbox > ul > li > .wrap-star > p { width: 100%; height: 30px; font-weight: bold; color: #555; }
.thisulbox > ul > li > .wrap-star:hover > p { text-decoration: underline; cursor: pointer; }
.thisulbox > ul > li > .wrap-star > b { width:100%; height: 30px; color:#555;  }
.thisulbox > ul > li > .wrap-star > b > span { color: #c9c9c9; text-decoration: line-through; padding-right: 10px; }
.thisulbox > ul > li > .wrap-star > .interpbox { width: 320px; height: 60px; background-color: #fff; color: #555; line-height: 20px; }
.thisulbox > ul > li > .wrap-star > .thisimgbox { width: 100px; height:100%; position: absolute; left:-110px; }
.thisulbox > ul > li > .wrap-star > .thisimgbox > img { width: 100%; height:100%; box-shadow: 2px 2px 2px #ddd; cursor: pointer; }

/* 단독혜택 */
.exclusive { width: 600px; height: 375px; margin-top: 90px; border-top: 1px solid #000; position: relative; }
.exclusive > span { position: absolute; top: -26px; right: 10px; font-size: 12px; color: #666; font-weight: normal; cursor: pointer; }
.exclusive > span:hover { text-decoration: underline; }
.exclusive > .exlist { width: 400px; height: 50px; position: absolute; top: -50px; display: flex; justify-content: space-around; align-items: center;}
.exclusive > .exlist > li { width: 25%; height: 100%; line-height: 45px; text-align: center; background-color: #fff; font-weight: bold; font-size: 14px; cursor: pointer; }
.exclusive > .exlist > li:not(:nth-child(1)) {border-bottom: 1px solid #000; }
.exclusive > .exlist > li:nth-child(1) { border-left: 1px solid #000; border-top: 1px solid #000; border-right: 1px solid #000; color: #E35039; }

.exclusive > .exbook { position: relative; width: 100%; height: 100%; padding: 30px; }
.exclusive > .exbook > li { position: absolute; width: 90%; height: 100%; }
.exclusive > .exbook > li:not(:nth-child(1) ) { display: none; }
.exbooklist { display: flex; width: 100%; height: 100%; justify-content: space-around; align-items: center; }
.exbooklist > li { width: 21%; height: 85%; }
.exbooklist > li > img { width: 100%; height: 185px; box-shadow: 2px 2px 2px #ddd; cursor: pointer; }
.exbooklist > li > h4 { font-size: 14px; width: 100%; text-align: center; color: #626262; margin-top: 10px; }
.exbooklist > li:hover > h4 { text-decoration: underline; cursor: pointer; }
.exbooklist > li > span { font-size: 12px; width: 100%; text-align: center; display: block; color: #777; margin-top: 15px; line-height: 20px;  }
.exbooklist > li > h5 { font-size: 12px; width: 100%; text-align: center; color: #39c1f6; }

/* HOT 중고도서 */
.hotused { width: 100%; height: 305px; margin-top: 50px; border-top: 1px solid #000; position: relative; display: flex; padding:0 30px; letter-spacing: -0.8px; }
.hotused > h3 { position: absolute; left: 50%; transform: translateX(-50%); top: -25px; background-color: #fff; width: 300px; height: 50px; text-align: center; font-size: 30px; }
.hotused > h3 > span { color: #fb2f30; }
.hotused > span { position: absolute; right: 10px; font-size: 12px; color: #666; top: -25px; cursor: pointer; }
.hotused > span:hover { text-decoration: underline; }
.hotusedlist { width: 70%; height: 90%; display: flex; align-items: center; margin-top: 40px; }
.hotusedlist > ul { width: 100%; height: 100%; display: flex; justify-content: flex-start; }
.hotusedlist > ul > li { width:22.5%; height: 100%; margin-right: 20px; display: flex; flex-wrap: wrap; justify-content: center; align-content: center; }
.hotusedlist > ul > li > img { cursor: pointer; box-shadow: 2px 2px 2px #ddd; }
.hotusedlist > ul > li > h4 { text-align: center; font-size: 13px; margin-top: 20px; color: #555; cursor: pointer; }
.hotusedlist > ul > li:hover > h4 { text-decoration: underline; }
.hotusedlist > ul > li > span { width: 100%; text-align: center; margin: 5px 0px; color: #aaa; text-decoration: line-through; font-size: 14px; } 
.hotusedlist > ul > li > h5 { width: 100%; text-align: center;  } 

.hotusedimgbox { width: 30%; height: 80%; display: flex; flex-wrap: wrap; justify-content: center; align-content: center; margin-top: 50px; }
.hotusedimgbox img { cursor: pointer; width: 100%; height: 124px; }
.hotusedimgbox img:nth-child(2) { margin-top: 15px; }

/* CD 및 DVD */
.etc .etc_s1 { font-size: 13px; text-align: center; display:block; padding: 5px 0px; cursor: pointer;  }
.etc .etc_s2 { font-size: 15px; color: #999; text-decoration: line-through; }
.etc .etc_s3 { font-size: 15px; font-weight: bold; }
.etc .etc_s5 { color: #999; font-size: 13px; text-align: center; display: block; padding:5px 0; cursor: pointer; }

.etc { width: 358px; height: 540px; margin-top: 30px; }
.etc > .etc_slide{ width: 100%; height: 340px; position: relative; border-top: 1px solid #000; border-bottom: 1px solid #ccc; overflow: hidden; background-color: #f8f8f8; }
.etc > .etc_slide > span { position: absolute; top: 50%; transform: translateY(-50%); color:#ccc; font-size: 35px; padding: 122px 14px; cursor: pointer; }
.etc > .etc_slide > span:hover { color: #f7695b; transition: all 0.3s; }
.etc > .etc_slide > ul { width: 1432px; height: 315px; }
.etc > .etc_slide > ul > li { width: 358px; height: 100%; position: absolute; top: 0; left: 0; }
.etc > .etc_slide > ul > li:not(:first-child) { display: none; }
.etc > .etc_slide > ul > li:hover .etc_s1 { text-decoration: underline; }
.etc > .etc_slide > ul > li > .etc_imgbox { width: 200px; height: 200px; margin: 28px auto; overflow:hidden; cursor: pointer; }
.etc > .etc_slide > ul > li > .etc_imgbox:hover span{ text-decoration: underline; }
.etc > .etc_slide > ul > li > .etc_imgbox > img { width: 100%; height: 100%; }
.etc > .etc_slide > ul > li > .etc_content { width: 100%; height: 115px; }

.etc > .etc_slide > ul > li > .etc_content > .etc_s1:hover { text-decoration: underline; }
.etc > .etc_slide > ul > li > .etc_content > .etc_spans { width: 175px; margin: 0 auto; cursor: pointer; }
.etc > .etc_slide > ul > li > .etc_content > .etc_spans > .etc_s2 { font-size: 15px; color: #999; text-decoration: line-through; padding-right: 5px; }
.etc > .etc_slide > ul > li > .etc_content > .etc_spans > .etc_s3 { font-size: 15px; font-weight: bold; }
.etc > .etc_slide > ul > li > .etc_content > .etc_spans > .etc_s4 { font-size: 12px; color: blue; } 
.etc > .etc_under { width: 100%; height: 160px; background: #f8f8f8; }
.etc > .etc_under > ul { width: 100%; height:100%; display: flex; justify-content: center; align-content: center; }
.etc > .etc_under > ul > li { width: 50%; height:100%; padding: 14px 0;  }
.etc > .etc_under > ul > li:hover p {text-decoration: underline}
.etc > .etc_under > ul > li > div { width: 100px; height: 100px; margin: 10px auto; overflow: hidden; cursor: pointer; }
.etc > .etc_under > ul > li > div:hover p { text-decoration: underline; }
.etc > .etc_under > ul > li > div > img { width: 100%; height: 100%; }
.etc > .etc_under > ul > li > p { font-size: 13px; color: #666; text-align: center; cursor: pointer; margin: 3px 0; }
.etc > .etc_under > ul > li > p:hover { text-decoration: underline; }

/*-ebook 내용-*/
.etc > .elist { width: 358px; height: 500px; position: relative;  overflow: hidden; background-color: #eee; border-top: 1px solid #000;  }
.etc > .elist > ul { width: 1790px; }
.etc > .elist > ul > li { width: 358px; height: 500px; float: left; opacity: 0; }
.etc > .elist > ul > li:first-child { opacity: 1; }
.etc > .elist > ul > li > .econtent { width: 100%; height: 500px;  }
.etc > .elist > ul > li > .econtent > .eimg { width: 194px; height: 285px; margin: 50px 100px;  }
.etc > .elist > ul > li > .econtent > .eimg > img { width: 90%; height: 90%; }
.etc > .elist > ul > li > .econtent > .ebooks { width: 100%; height: 230px;  }
.etc > .elist > ul > li > .econtent > .ebooks > h3 { text-align: center; text-decoration: underline;  }
.etc > .elist > ul > li > .econtent > .ebooks > .etc_spans2 { width: 130px; margin: 0 auto; }
.etc > .elist > span { position: absolute; top: 60%; transform: translateY(-50%); height: 50%; font-size: 35px; color: #ccc; cursor: pointer; padding: 0 25px;  }
.etc > .elist > span:hover { color: #f7695b; }

/*CD,DVD,ebook 밑 배너*/
#banner3 { width: 1150px; height: 80px; margin: 10px 0; display: flex; justify-content: space-between; align-items:center; cursor: pointer; }
#banner3 > .mini { width: 358px; height: 100%; overflow: hidden; }
#banner3 > .mini > img { width: 100%; height: 100%; }

/*서비스&혜택*/
#service { width: 1150px; height: 250px; margin: 0 auto; }
#service > #se_title { display: flex; justify-content: space-between; align-items: center; width: 100%; height: 15%; border-bottom: 2px solid #000; }
#service > #se_title > p { font-size: 20px; font-weight: bold; }
#service > #se_title > #notice { display: flex; justify-content: flex-end; align-items: flex-start; width: 400px; height: 30%;  }
#service > #se_title > #notice > .se_p1 { font-size: 13px; font-weight: bold;  }
#service > #se_title > #notice > .se_p1 a { color: #000; }
#service > #se_title > #notice > .se_p2 { font-size: 13px; font-weight: bold; color: #666; margin-left: 10px; cursor: pointer; }
#service > #se_title > #notice > .se_p2:hover { text-decoration: underline; }
#service > #se_title > #notice > i { padding: 1px 5px; border-radius: 100%; font-size: 13px; color: #fff; background-color: #333; margin: 2px 5px; }

/*--내용--*/
#service > #se_content { width: 100%; height: 85%; display: flex; justify-content: space-between; align-items: flex-start; }
#service > #se_content > .se_info { width: auto; height: 100%; padding:0 23px; border-left: 1px dashed #ddd; line-height: 20px;  }
#service > #se_content > .se_info:first-child { padding: 0 46px 0 11px; border: none; }
#service > #se_content > .se_info:last-child { padding: 0 11px 0 46px; }
#service > #se_content > .se_info > ul > li { font-size: 12px; color: #999; margin: 7px 0; cursor: pointer; letter-spacing: -1px; }
#service > #se_content > .se_info > ul > li:first-of-type { font-size: 15px; color: #000; font-weight: bold; cursor: text; margin: 10px 0; }
#service > #se_content > .se_info > ul > li > img{ width: 16px; margin-right: 2px; }
#service > #se_content > .se_info > ul > li:hover { color: #000; }
#service > #se_content > .se_info > ul > li:hover img{ transform: rotate(360deg); transition: all 0.7s; }
#service > #se_content > .se_info > .p3 { font-size: 15px; color: #000; font-weight: bold; margin: 10px 0; display: inline-block; }
#service > #se_content > .se_info > table { width: 100%; height: 45%; border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; font-size: 13px; color: #333; }
#service > #se_content > .se_info > .p4 { font-size: 13px; padding-top: 5px; color: #333; }
#service > #se_content > .se_info > .p5 { font-size: 11px; padding-top: 5px; color: #999; }
#service > #se_content > .se_info > .se_s1 { font-size: 13px; color: #ccc; }
#service > #se_content > .se_info > #se_imgbox { width: 200px; height: 95px; overflow: hidden; }
#service > #se_content > .se_info > #se_imgbox > img { width: 100%; height: 100%; }

/*내용 밑 배너 */
#banner4 { width: 100%; height: 60px; background-color: #58cfc7; margin: 50px 0 0; display: flex; justify-content: center; cursor: pointer; }
#banner4 > .ba4_half { width: 50%; height: 100%; }
#banner4 > .ba4_half:first-child { border-right: 1px solid #fff; }
#banner4 > .ba4_half > .text1 { width: auto; height: 100%; float: right; margin: 0 24px; }
#banner4 > .ba4_half > .text2 { width: auto; height: 100%; float: left; margin: 0 24px; }
#banner4 > .ba4_half > .text1 > .ba4_s1 { font-size: 20px; color: #fff; line-height: 60px; }
#banner4 > .ba4_half > .text1 > .ba4_s2 { font-size: 20px; color: #fefba5; }
#banner4 > .ba4_half > .text2 > .ba4_s1 { font-size: 20px; color: #fff; line-height: 60px; }
#banner4 > .ba4_half > .text2 > .ba4_s2 { font-size: 20px; color: #fefba5; }

