@charset "utf-8";
* { margin: 0; padding: 0; box-sizing: border-box; }
ul,li {list-style:none; margin: 0; padding: 0; }
a { text-decoration: none; color: #000; }
#wrap { width: 100%; height: auto; }

/*화면 우측 숨겨진 로그인박스*/
.loginfixed { width: 8px; height: 100vh; position: fixed; z-index:  5; right: 0; background-color: #fff; border-left: 1px solid #bbb; }
.nextbox { position: absolute; top: 50%; transform: translateY(-50%); left: -21px; font-size: 18px; padding: 10px; background-color: #fff; height: 60px; line-height: 35px; color: #808464; border-left: 1px solid #bbb; border-top: 1px solid #bbb; border-bottom: 1px solid #bbb; z-index: 5; width: 20px; cursor: pointer; }
.fixloginbox { height: 145px; background-color: #EF554D; width: 145px; color: #fff; text-align: center; }
.fixloginbox > h3 { height: 55px; line-height: 55px; }
.fixloginbox > p { height: 50px; font-size: 13px; line-height: 150%; } 
.fixloginbox > button { width: 100px; height: 25px; line-height: 22px; color: #fff; background-color: #be3834; border: #AF322E; outline: none; cursor: pointer; }
.bixbox { width: 145px; height: 30px; border-top: 1px solid #bbb; font-size: 11px; line-height: 25px; padding: 0 10px; cursor: pointer; position: relative; }
.bixbox:nth-of-type(5) { height: 60%; padding-top: 10px;  }
.bixbox img { width: 125px; height: 330px; }
.bixbox:nth-of-type(6) { text-align: center; font-size:15px; line-height: 50px; }
.bixbox span { color: #F8ABAD; font-weight: bold; }
.bixbox i { position: absolute; right: 4px; top: 30%; color: #868686; font-size: 12px; }
.bixbox .fa-chevron-right { position: absolute; right: 9px; top: 30%; font-size: 10px; }
.bixbox .noab { position: static; color:#e46c52; }
.prev { position: absolute; display: none; }
.next { position: absolute; }
#topBtn { width: 50px; height: 50px; margin: 0 auto; }

/* 탑 배너 */
.topbanner { width: 100%; height: 70px; display: flex; }
.topbanner img { cursor: pointer; }
.topbannerclosebtn { position: absolute; top: 0; left: 540px; cursor: pointer; }
.topbannerimg1 { width: 50%; background-color: #FFDE6C; text-align: right; }
.topbannerimg2 { width: 50%; background-color: #FFFAF2; position: relative; }
.topbannerimg2>img { position: relative; }

/* 헤더 */
header { width: 100%; height: 180px; margin:0 auto; position: relative; }
#headertop { width: 100%; height: 35px; margin:0px auto; border-bottom: 1px solid #c1c1c1; }
#headertop  li { float: left; line-height: 35px; }
.homeloginwrap { width: 1140px; margin: 0px auto; display: flex; justify-content: space-between; font-size: 13px; }
.home { display: flex; justify-content: space-around; width: 410px; height: 35px;  }
.home  a { color: #c1c1c1 }
.home  ul { width: 100%; }
.home  li { width: 37px; height: 35px; text-align: center; border-left: 1px solid #c1c1c1; letter-spacing: -0.8px; }
.home  li:not(:last-of-type) a { font-weight: bold; color: #777; }
.home  li:nth-of-type(2) { width: 103px; text-align: center; }
.home  li:nth-of-type(2) a { color: #ea4b4b; }
.home  li:nth-of-type(5) { width: 74px; text-align: center; }

.login { width: 730px; height: 35px; font-size: 11px; }
.login  ul { width: 100%; height: 35px; display: flex; justify-content: flex-end; }
.login  ul  li { text-align: center; padding: 0 2px 0 2px; letter-spacing: -0.8px; position: relative; color:#666; }
.login  ul  li a { height: 10px; width: 100%; color: #666; }
.login  ul  li a span { color: #c10001; font-weight: bold; }
.login  ul  li a i { color:red; border:1px solid #e0e0e0; padding:0 2px; border-radius: 4px; }

/* 로고 및 input 및 adbbox */
.hlborder { width: 100%; height: 100px; border-bottom: 2px solid #000; }
.headerlogo { width: 1140px; height: 100px; margin: 0 auto; display: flex; justify-content: space-between; align-items: center; }
.logo { width: 228px; height: 60px; }
.logo img { width: 100%; height: 100%; }

.searchbarwrap { width: 490px; height: 80px; display: flex; align-content: center; flex-wrap: wrap; position: relative; }
.searchbar { border-bottom: 2px solid #ef544d; position: relative; width: 400px; height: 40px; }
.searchbar input { position: absolute; left: 0; bottom: 5px; border: none; width: 90%; padding: 0 10px; }
.searchbar input::placeholder { font-weight: bold; }
.searchicon { position: absolute; right: 0; bottom: 5px; }

.adbbox { width: 171px; height: 55px; }
.adbbox img { width: 100%; height: 100%; }

/* 카테고리 */
.navwrap { width:100%; height: 45px; background-color: #f75850; border-bottom: 2px solid #d74b45; position: relative; }
nav { width: 1140px; height: 47px; margin: 0 auto; font-size: 15px; position: relative; background-color: #f75850; border-top: 2px solid #000; top: -2px; }
nav > ul { width: 100%; display: flex; justify-content: space-between; align-items: center; }
nav > ul > li{ float: left; line-height: 42px; color: #fff; width: 65px; height: 100%; text-align: center; font-weight: bold; height: 45px; cursor: pointer; letter-spacing: -0.8px; }
nav > ul > .cho { color: #000; }
nav > ul > li > a { color: #fff; }
nav > ul > li:nth-of-type(1) { width: 183px; background-color: #d73c35; height: 45px; display: flex; align-items: center; justify-content: space-between; padding:0 30px; }
nav > ul > li:first-child:hover { color:#fff1a2; background-color: #850000; }
#up { display: none; }
nav > ul > li:nth-of-type(1)~li:hover a{ color: #fff1a2; }
nav > ul > li:nth-of-type(6) { border-right: 1px solid #cb4742; width: 40px; height: 15px; }
nav > ul > li:nth-of-type(6)~li a{ color: #fff1a2; }
nav > ul > li:nth-of-type(6)~li a:hover { color: yellow; }
nav > ul > li:last-of-type { background-image: url(../img/bgnav.png); background-size:cover; background-position: center; width: 45px; }


/*전체 카테고리 클릭시 나오는 슬라이더*/
.navslide { position: absolute; z-index: 4; width: 100%; height: 650px; background-color: #fff; border-left: 2px solid #d74b45; border-right:2px solid #d74b45; border-bottom: 2px solid #d74b45; display: none;   }
.navslide > ul { width: 100%; height: 90%; border-bottom: 1px solid #33353d; display: flex; flex-wrap: wrap; letter-spacing: -1px; position: relative; }
.navslide > span { float: right; margin: 5px 15px; font-size: 40px; color:#666; cursor: pointer;  }
.navslide > ul > li { padding: 20px 22px; color: #666; font-weight: bold; font-size:14px; }
.navslide > ul > li > span:hover { cursor: pointer; text-decoration: underline; }
.scolor {color:#f68257;}
.navslide > ul > li > ul > li { width: 85%; display: flex; justify-content: space-between; }
.navslide > ul > li > ul { margin-top: 10px; }
.navslide > ul > li > ul > li > span { font-weight: normal; width: 85px; line-height: 160%; font-size: 12px;  }
.navslide > ul > li > ul > li > span:hover { cursor: pointer; text-decoration: underline; }
.navslide > ul > li:first-child { width: 360px; border-right: 1px solid #e5e5e5; padding: 20px 45px; position: relative; }
.navslide > ul > li:nth-child(2){ height: 100%; width: 175px; border-right: 1px solid #e5e5e5; }
.navslide > ul > li:nth-child(3){ height: 100%; width: 175px; border-right: 1px solid #e5e5e5; }
.navslide > ul > li:nth-child(4){ height: 100%; width: 165px; border-right: 1px solid #e5e5e5; }
.navslide > ul > li:nth-child(5){ height: 260px; width: 261px; }
.navslide > ul > li:nth-child(6){ height: 175px; width: 261px; position: absolute; right: 0; top: 260px; border-top: 1px solid #e5e5e5; }
.navslide > ul > li:nth-child(7){ height: 175px; width: 261px; position: absolute; right:0; top: 435px; border-top: 1px solid #e5e5e5; }


/* 푸터 */
footer { width:100%; height: auto; border-top:1px solid #666; }

/*footer top*/
#footerbox1 { width: 1150px; height: 50px; margin:0 auto; display:flex; justify-content: space-between; align-items: center; }
#footerbox1 > #group { width: 100px; border: 1px solid #aaa; font-size: 12px; height: 20px; }
#footerbox1 > ul { width: 980px; display: flex; justify-content: space-around; align-items: center; }
#footerbox1 > ul > li { color: #999; }
#footerbox1 > ul > li:nth-child(odd) { font-size: 13px; }
#footerbox1 > ul > li:nth-child(even) { font-size: 10px; }
#footerbox1 > ul > li:first-child a { color: #000; font-weight: bold; }
#footerbox1 > ul > li a { color: #999; }

/*회사 안내1*/
#footerbox2 { width: 1150px; height: 130px; margin: 0 auto; display: flex; justify-content: space-between; align-items: center; }
#footerbox2 > .info { width: 400px; height: 90%;   }
#footerbox2 > .info:nth-child(2) { width: 300px; height: 85%; border-left: 1px solid #ccc; border-right: 1px solid #ccc; padding-left: 	15px; line-height: 5px; }
#footerbox2 > .info > p { font-size: 13px; display: inline; line-height: 30px; padding-right: 10px; }
#footerbox2 > .info .tag { width: auto; height: 14px; background-color: #333; font-size: 10px; color: #fff; border: 1px solid #000; padding: 1px 2px;  cursor: pointer; }
#footerbox2 > .info > ul { width: auto; height: auto; line-height: 20px; }
#footerbox2 > .info > ul > li { width: 100%; font-size: 11px; color: #999;   }


/*회사안내2*/
#footerbox3 { width: 1150px; height: 70px; margin: 0 auto; padding-top: 10px; }
#footerbox3 > .p1 { font-size: 12px; color: #444; font-weight: bolder; letter-spacing:-1px; margin: 10px 0px; }
#footerbox3 > .p2 { font-size: 12px; color: #999; }