@charset "utf-8";

#category { width: 100%; height: 70px; margin: 50px 0 0 0; }
#category > .box1 { width: 1260px; height: 70px; margin: 0 auto; }
#category > .box1 > ul > li { float: left; margin: 40px 0 0 0; padding: 0 0 0 10px; } 
#category > .box1 > ul > li > a { color: #000; }
#category > .box1 > ul > .lispan > a { color: #999; } 
#category > .box1 > ul > li > a:hover { cursor: pointer;  border-bottom: 1px solid #999; } 
#category > .box1 > ul > .lispan > a:hover { cursor: pointer; border-bottom: 1px solid #999; } 

#contents { width: 1260px; height: 900px; margin: 0 auto; }
#contents > #main { width: 600px; height: 600px; float: left;    }
.m1 {width: 600px; height:600px;  }


#mainmini {width: 600px; height: 150px;  }

#mainmini > ul > li {float: left; margin:10px 15px 0 0;}

#mainmini > ul > li:hover {cursor:pointer; }

#mainmini img {width:130px; height:130px;  margin: 0 auto;}




#contents > .productname { width: 450px; height: 50px; float: right; margin: 40px 0 20px 0; }
#contents > .productname > p { font-size: 15px; color: #000; padding: 5px 0 0 5px; margin: 0 auto;}
#contents > .productname > span { font-size: 12px; color: gray; font-family: 'Quattrocento Sans', sans-serif; padding: 0 0 0 8px; margin: 5px 0 0 0;}

#contents > .table1 { width: 450px; float: right; }
td {float: left; padding: 8px; font-size: 12px; font-weight: 400; color: #353535}
.td1 { color: #999; }
td > span { color: red; }
td > p { font-weight: bold; }
#select{width:300px; height:30px; float:left; margin: 0 5px 0 10px; font-size:13px; color:#666; border:1px solid #999; padding:0px 0 0 10px;} 
.setd1 { color: #999; margin: 7px 0 0 0; font-size: 13px; font-weight: 200;}
.setd2 { color: #999; font-size: 10px; margin: 7px 0 0 0; }
.setd3 { color: #999; font-size: 11px; margin: 7px 0 0 0; }

#contents > #info { width: 450px; float: right; margin: 10px 0 0 0; padding: 5px 10px 12px 10px; }
#contents > #info > p { font-size: 12px; color: #757575; }
#contents > #info > .info1 { color: #999; }

#contents > .table2 { width: 450px; float: right; margin: 15px 0 0 0;}
.tr1 > .right { text-align: right; }
.tr1 > .right > strong { color: #999; font-size: 12px; }
.tr1 > .right > .total { color: #999; font-size: 12px; }
.tr1 > .right > .total > strong { font-size: 15px; color: #000; }

.btn1 { width: 220px; height: 50px; border: 2px solid #f0f0f0; cursor: pointer; color: #fff; background-color: #444; font-size: 16px; text-align: center; vertical-align: bottom; margin: 0 0 0 5px;}
.btn1:hover { border: 2px solid #000; transition: 0.2s; }
.btn2 { width: 100px; height: 50px; border: 2px solid #f0f0f0; cursor: pointer; color: #777;  font-size: 14px; text-align: center;  }
.btn2:hover { border: 2px solid #000; transition: 0.2s; }
.btn3 { width: 100px; height: 50px; border: 2px solid #f0f0f0; cursor: pointer; color: #777;  font-size: 14px; text-align: center;  }
.btn3:hover { border: 2px solid #000; transition: 0.2s; }


#contents2 { width: 1260px; height: 8930px; margin: 0 auto; }
#contents2 > .deliverybox { width: 1260px; height: 335px;  }
#contents2 > .deliverybox > img { width: 1260px; height: 331px; margin: 0 auto; }

#contents2 > .productinfo { width:1260px; height: 7600px; margin: 0 auto; }
#contents2 > .productinfo > .productinfobox { width: 850px; height: 7590px;  margin: 0 auto; }
#contents2 > .productinfo > .productinfobox > img { width: 850px; height: 7590px; margin: 0 auto; }

#contents2 > .productinfo > .deliveryinfo { width: 1260px; height: 980px;  margin: 0 auto; }
#contents2 > .productinfo > .deliveryinfo > a > img { width: 1260px; height: 960px;  }
#contents2 > .productinfo > .deliveryinfo > a > img:hover { cursor: pointer; }


#contents3 { width: 1260px; height: 900px; margin: 0 auto; }
#contents3 > .textbox { width: 1260px; height: 50px; margin: 0 auto;  }
#contents3 > .textbox > .textbox1 { width: 1260px; height: 50px;  margin: 0 auto; text-align: center;}	
#contents3 > .textbox > .textbox1 > h1 { font-size: 18px; font-weight: 400; padding: 0 0 5px 0px;  }
#contents3 > .textbox > .textbox1 > span { font-size: 12px; color: #999; }

#contents3 > #img1 { width: 1260px; height: 350px; margin: 0 auto;  text-align: center; }
#contents3 > #img1 > .img2 { width: 900px; height: 300px;  margin: 0 auto;}
#contents3 > #img1 > .img2 > .imgbox { width: 200px; height: 200px;  margin: 30px 15px 0 10px;  float: left;}
#contents3 > #img1 > .img2 > .imgbox > a > img { width: 200px; height: 200px; }
#contents3 > #img1 > .img2 > .imgbox > a > img:hover { cursor: pointer; opacity: 0.7; }
#contents3 > #img1 > .img2 > .imgbox > .imgp > a { font-size: 12px; color: #000; margin: 10px 0 0 0; border-bottom: 2px solid #eee; height: 20px;  display: block;}
#contents3 > #img1 > .img2 > .imgbox > .imgp > a:hover { color: #999; }
#contents3 > #img1 > .img2 > .imgbox > span { font-size: 12px; color: #000; display: block; padding: 5px 0 0 0;}

#contents3 > #question { width: 1260px; height: 200px; margin: 0 auto;  text-align: center; }
#contents3 > #question > .questionbox { width: 1260px; height: 40px;  margin: 0 auto; }
#contents3 > #question > .questionbox > .questiontext { width: 1260px; height: 40px;  margin: 0 auto; }
#contents3 > #question > .questionbox > .questiontext > h1 { font-size: 18px; color: #353535; margin: 0; font-weight: 400;}
#contents3 > #question > .questionbox > .questiontext > span { font-size: 12px; color: #999;  display: block; margin: 5px 0 0 0;}


#contents3 > #question > .questionbox > .questiontext1 { width: 1260px; height: 60px; margin: 20px 0 0 0; border-bottom: 2px solid #eee;border-top: 2px solid #eee; text-align: center;} 
#contents3 > #question > .questionbox > .questiontext1 > p { font-size: 14px; color: #AAA; padding: 20px;  }

#contents3 > #question > .questionbox > .questionbtn { width: 1100px; height: 50px;  margin: 0 auto; }
#contents3 > #question > .questionbox > .questionbtn > a > .qbtn1  { float: right; padding: 5px; margin: 10px 0 0 0; border: 1px solid #eee; font-size: 13px; color: #656d78; background-color: #f6f6f6;}
#contents3 > #question > .questionbox > .questionbtn > a > .qbtn1:hover { cursor: pointer; border: 1px solid #999;}

#contents3 > #question > .questionbox > .questionbtn > a > .qbtn2  { float: right; padding: 5px; margin: 10px 0 0 0; background-color: #434a54; color: #fff;border: 1px solid #eee; font-size: 13px; }
#contents3 > #question > .questionbox > .questionbtn > a > .qbtn2:hover { cursor: pointer; border: 1px solid #999;}

#contents3 > #q2 { width: 1260px; height: 200px; margin: 0 auto; text-align: center; }
#contents3 > #q2 > .qbox { width: 1260px; height: 40px;  margin: 30px auto; }
#contents3 > #q2 > .qbox > .qtext { width: 1260px; height: 40px;  margin: 0 auto; }
#contents3 > #q2 > .qbox > .qtext > h1 { font-size: 18px; color: #353535; margin: 0; font-weight: 400;}
#contents3 > #q2 > .qbox > .qtext > span { font-size: 12px; color: #999;  display: block; margin: 5px 0 0 0;}

#contents3 > #q2 > .qbox > .qtext2 { width: 1260px; height: 60px;  margin: 20px 0 0 0; border-bottom: 2px solid #eee; border-top: 2px solid #eee; text-align: center;}
#contents3 > #q2 > .qbox > .qtext2 > p { font-size: 14px; color: #AAA; padding: 20px;  }
#contents3 > #q2 > .qbox > .qabtn2 { width: 1100px; height: 50px; margin: 0 auto; }
#contents3 > #q2 > .qbox > .qabtn2 > a > .qbtn3  { float: right; padding: 5px; margin: 10px 0 0 0; border: 1px solid #eee; font-size: 13px; color: #656d78; background-color: #f6f6f6;}
#contents3 > #q2 > .qbox > .qabtn2 > a > .qbtn3:hover { cursor: pointer; border: 1px solid #999; }
#contents3 > #q2 > .qbox > .qabtn2 > a > .qbtn4  { float: right; padding: 5px; margin: 10px 0 0 0; background-color: #434a54; color: #fff; border: 1px solid #eee; font-size: 13px; }
#contents3 > #q2 > .qbox > .qabtn2 > a > .qbtn4:hover { cursor: pointer; border: 1px solid #999; }

#contents4 { width: 1260px; height: 530px; margin: 0 auto; }
#contents4 > #orderbox { width: 1260px; height: 520px; margin: 0 auto;}
#contents4 > #orderbox > .orderinfo { width: 1260px; height: 50px; margin: 0 auto; text-align: center;}	
#contents4 > #orderbox > .orderinfo > h1 { font-size: 18px; font-weight: 400; padding: 0 0 5px 0px;  }
#contents4 > #orderbox > .orderinfo > span { font-size: 12px; color: #999; }

#contents4 > #orderbox > .orderinfo1 { width: 1260px; height: 250px; margin: 0 auto; }
#contents4 > #orderbox > .orderinfo1 > ul { width: 1260px; height: 50px;  margin: 0 auto; }
#contents4 > #orderbox > .orderinfo1 > ul > li > a { float: left; margin: 25px 0 10px 0; border: 2px solid #eee; padding: 5px 5px 5px 10px; font-size: 12px; background-color: #fff; color: #333; border-bottom: 1px solid #fff;} 
#contents4 > #orderbox > .orderinfo1 > ul > li > a:hover { cursor: pointer; color: #999; }

#contents4 > #orderbox > .orderinfo1 > .orderinfobox { width: 1260px; height: 175px;  margin: 0 auto; border: 2px solid #eee; }
#contents4 > #orderbox > .orderinfo1 > .orderinfobox > h2 { width: 1260px; height: 30px;  float: left; color: #333; font-weight: 400; font-size: 18px; border-bottom: 2px solid #eee; padding-left: 10px;}
#contents4 > #orderbox > .orderinfo1 > .orderinfobox > p { float: left; font-size: 12px; color: #666; margin: 20px 0 5px 0; line-height: 140%; padding-left: 10px; }

#contents4 > #orderbox > .com1 { width: 1260px; height: 180px; margin: 0 auto; }
#contents4 > #orderbox > .com1 > .combox { width: 1260px; height: 170px; margin: 0 auto; }
#contents4 > #orderbox > .com1 > .combox > .comimg { width: 300px; height: 150px; float: left; margin: 10px 5px 0 10px;}
#contents4 > #orderbox > .com1 > .combox > .comimg > a > img { width: 300px; height: 150px; margin: 0 auto; }
#contents4 > #orderbox > .com1 > .combox > .comimg > a > img:hover { cursor: pointer; opacity: 0.7; }