@charset "utf-8";
* { margin: 0; box-sizing: border-box; }
ul,li { list-style: none; margin: 0; padding: 0; }
.bar1 { cursor: pointer; }
.bar2 { cursor: pointer; }
html,body { width: 100%; height: 100%; overflow-x: hidden; }



@media (min-width: 691px) and (max-width: 924px) { 

	/* 헤더 */
	#wrap { width: 100%; height: 500px; margin: 0 auto; border:3px solid #666; position: relative; }
	header { width: 100%; height: 50px;  position: absolute; top: 0px; z-index: 5;  }
	header > #main { width: 100%;  height: 50px;  margin: 0 auto; display: flex; justify-content: space-between; align-items: center; }
	header > #main > .address { width: 150px; height: 60px;  float: left; margin: 10px 0 0 0; display: none;}
	header > #main > .address > p { font-size: 13px; color: #fff; font-weight: bold; line-height: 150%; }

	header > #main > .num { width: 150px; height: 60px;  float: right; margin: 10px 0 0 0; display: none; }
	header > #main > .num > p { font-size: 13px; color: #fff; font-weight: bold; line-height: 150%; text-align: right; }

	header > #main > .logo { width: 100%; height: 45px;  margin-top: 10px; }
	header > #main > .logo > a > img { width: 95px; height: 32px; }

	header > #main > #nav1 { display: none;  }
	header > #main > #nav1 > ul {  display: block; background-color: #252525; display: flex; flex-direction: column; width: 50%; height: 100%; right: 0; top: 0; position: fixed; z-index: 2; padding: 50px 40px;   }
	header > #main > #nav1 > ul > li { margin: 10px; width: 80px; height: 20px; font-size: 13px; color: #fff; text-align: left;  font-family: 'Poppins', sans-serif; color: #bc8d4b; }
	header > #main > #nav1 > ul > li > a { color: #fff; display: block; text-decoration: none;}
	header > #main > #nav1 > ul > li > .licolor { color: #bc8d4b; }
	header > #main > #nav1 > ul > li:nth-of-type(4) { width: 110px; }
	header > #main > #nav1 > ul > li:nth-of-type(7) { width: 90px; }

	header > #main > #bar { width: 35px;  height: 35px;}
	header > #main > #bar > img { width: 100%; height: 100%; }

	header > #main > #barback { width: 100%; height: 100%; background: 0 0; position: fixed; top: 0;  display: none; overflow: hidden;}


	header > #main > #nav1 > .bar2 { width: 35px; height: 35px;  position: absolute; z-index: 3; top: 0; left: 51%; margin: 5px;}
	header > #main > #nav1 > .bar2 > img { width: 100%; height: 100%; display: block; }

	/* 슬라이더  */
	#wrap > #slider { width: 100%; height: 100%; position: absolute; z-index: 1; top: 0px; left: 0px;}
	#wrap > #slider > img { width: 100%; height: 100%; }
	#wrap > #slider > .slidertext { width: 100%; height: 255px; position: absolute; top: 36%;  margin: 0 auto; }
	#wrap > #slider > .slidertext > .slidertextbox { width: 100%; height: 255px; text-align: center; margin: 0 auto; color: #fff;} 
	#wrap > #slider > .slidertext > .slidertextbox > h1 { font-size: 45px; }
	#wrap > #slider > .slidertext > .slidertextbox > p { margin-bottom: 30px; font-size: 16px; }
	#wrap > #slider > .slidertext > .slidertextbox > button { color: #fff; border: 5px solid #fff; font-size: 12px; padding: 10px 25px; border-radius: 0; background: 0 0; font-family: 'Poppins', sans-serif;  cursor: pointer;}
	#wrap > #slider > .slidertext > .slidertextbox > button:hover { background-color: #bc8d4b; color: #fff; transition: 0.5s;  }

	/* 푸터 */
	footer { width: 100%; height: 280px; margin-top: 100px; }
	footer > #footerbox { width: 100%; height: 250px;  margin: 0 auto; display: flex; flex-direction: column; justify-content: center; align-items: center; }
	footer > #footerbox > .footertextbox { width: 100%; height: 150px;  margin: 10px; display: flex; justify-content: center; align-items: center; }
	footer > #footerbox > .footertextbox > .footertext { width: 380px; height: 150px; margin: 10px;  text-align: center; }
	footer > #footerbox > .footertextbox > .footertext > h5 { font-size: 22px; margin-bottom: 10px; }
	footer > #footerbox > .footertextbox > .footertext > p { font-size: 15px; line-height: 170%; }
	footer > #footerbox > ul { width: 100%; height: 40px;  display: flex; justify-content: center; align-items: center; text-align: center; margin-top: 2%; }
	footer > #footerbox > ul > li { margin: 10px; border: 2px solid #eee; width: 30px; height: 30px; border-radius: 20px; font-size: 17px; }
	footer > #footerbox > ul > li > a { color: #000; text-decoration: none; }
	footer > #footerbox > .footertext2 { width: 100%; height: 30px;  text-align: center; }
	footer > #footerbox > .footertext2 > p { font-size: 12px; color: #999; margin-top: 5px; }
}