@charset "utf-8";
@media (min-width: 925px) {
	

	#icon { width: 100%; height: 600px; background-color: #000; display: flex; justify-content: center; }
	#icon > #iconbox { width: 1260px; height: 500px; display: flex; justify-content: space-between; align-items: flex-end; }

	#icon > #iconbox > .iconbigbox { width: 30%; height: 70%; display: flex; flex-direction: column; justify-content: space-between; }
	#icon > #iconbox > .iconbigbox > .iconsmallbox { width: 100%; height: 40%; display: flex; }
	#icon > #iconbox > .iconbigbox > .iconsmallbox > .fabox { width: 10%; height: 100%; text-align: center; }
	#icon > #iconbox > .iconbigbox > .iconsmallbox > .fabox > a > .fas { font-size: 30px; color: #fff; }

	#icon > #iconbox > .iconbigbox > .iconsmallbox > .icontext { width: 90%; height: 100%; padding-left: 20px; }
	#icon > #iconbox > .iconbigbox > .iconsmallbox > .icontext > a { text-decoration: none; }
	#icon > #iconbox > .iconbigbox > .iconsmallbox > .icontext > a > h1 { color: #fff; font-size: 20px; font-family: 'Montserrat', sans-serif; }
	#icon > #iconbox > .iconbigbox > .iconsmallbox > .icontext > p { color: #D8D8D8; font-size: 15px; margin-top: 20px;  }

	#box { width: 100%; height: 600px; background-color: #000; display: flex; justify-content: center; }
	#box > #boxin { width: 1260px; height: 500px;  display: flex;  align-items: center; }

	#box > #boxin > .insmallbox { width: 50%; height: 400px; }
	#box > #boxin > .insmallbox > img { width: 100%; height: 100%; }

	#box > #boxin > .insmallbox2 { width: 50%; height: 400px;  /*transform: translateX(-2%);*/  display: flex; align-items: center; }
	#box > #boxin > .insmallbox2 > .inbox3 { width: 100%; height: 350px; background-color: #1B1B1B; margin: 30px 0 30px -10px; color: #fff; padding: 38px 56px 47px;  }
	#box > #boxin > .insmallbox2 > .inbox3 > h3 { font-family: 'Montserrat', sans-serif; font-size: 35px;  }
	#box > #boxin > .insmallbox2 > .inbox3 > .bottom1 { width: 50px; border-bottom: 1px solid #ddd; padding-top: 15px; }
	#box > #boxin > .insmallbox2 > .inbox3 > p { color: #D8D8D8; font-size: 15px; font-weight: 400; line-height: 30px;  }
	#box > #boxin > .insmallbox2 > .inbox3 > a { text-decoration: none; }
	#box > #boxin > .insmallbox2 > .inbox3 > a > span  { font-size: 12px; font-weight: 700; letter-spacing: 2px; color: #fff; }


	#content { width: 100%; height: 400px; margin: 0 auto; background-image: url("../img/bg1.jpg"); background-attachment: fixed; background-size:cover; overflow: hidden; display: flex; justify-content: center; align-items: center; }
	#content > #contentbox 	{ width: 1260px; height: 200px; display: flex; justify-content: space-between; }
	#content > #contentbox > .contentbox2 { width: 20%; height: 100%;margin-left: 1px;  color: #fff;  padding: 20px; display: flex; flex-direction: column; align-items: center; justify-content: center; }
	#content > #contentbox > .contentbox2 > p { font-size: 60px; font-weight: 200; line-height: 50px; }
	#content > #contentbox > .contentbox2 > h6 { font-size: 23px; font-weight: 400;   }

	#lorem { width: 100%; height: 1500px; background-color: #000; display: flex; justify-content: center; align-items: center;  }
	#lorem > #lorembox { width: 1260px; height: 1500px; }

	#lorem > #lorembox > .loremtext { width: 100%; height: 10%; color: #fff; display: flex; flex-direction: column; align-items: center;  padding-top: 30px; }
	#lorem > #lorembox > .loremtext > h6 { font-size: 23px; font-family: 'Alegreya', serif; color: #D8D8D8; }
	#lorem > #lorembox > .loremtext > h2 { font-size: 48px; font-weight: 300; font-family: 'Montserrat', sans-serif;  }
	#lorem > #lorembox > .loremtext > p { width: 50px; border-bottom: 1px solid #ddd; }

	#lorem > #lorembox > .loremimg { width: 100%; height: 80%; margin-top: 50px; display: flex; justify-content: space-around; }
	#lorem > #lorembox > .loremimg > .loremimgbox { width: 30%; height: 100%; display: flex; flex-direction: column; justify-content: space-around; align-items: center; }

	#lorem > #lorembox > .loremimg > .loremimgbox > .loremimgbox1 { width: 100%; height: 45%; margin-top: -15px; }
	#lorem > #lorembox > .loremimg > .loremimgbox > .loremimgbox1 > img { width: 100%; height: 100%; }

	#lorem > #lorembox > .loremimg > .loremimgbox > .loremimgbox2 { width: 100%; height: 45%; margin-bottom: 70px;  }
	#lorem > #lorembox > .loremimg > .loremimgbox > .loremimgbox2 > img { width: 100%; height: 100%; }

	#lorem > #lorembox > .loremimg > .loremimgbox > .loremimgbox3 { width: 100%; height: 50%; margin-top: 20px; }
	#lorem > #lorembox > .loremimg > .loremimgbox > .loremimgbox3 > img { width: 100%; height: 100%;  }

	#lorem > #lorembox > .loremimg > .loremimgbox > .loremimgbox4 { width: 100%; height: 20%;  }
	#lorem > #lorembox > .loremimg > .loremimgbox > .loremimgbox4 > img { width: 100%; height: 100%;  }

	#lorem > #lorembox > .loremimg > .loremimgbox > .loremimgbox5 { width: 100%; height: 20%; margin-bottom: 5px; }
	#lorem > #lorembox > .loremimg > .loremimgbox > .loremimgbox5 > img { width: 100%; height: 100%;  }

	#lorem > #lorembox > .loremimg > .loremimgbox > .loremimgbox6 { width: 100%; height: 22.5%; margin-top: 50px; }
	#lorem > #lorembox > .loremimg > .loremimgbox > .loremimgbox6 > img { width: 100%; height: 100%;   }

	#lorem > #lorembox > .loremimg > .loremimgbox > .loremimgbox7 { width: 100%; height: 22.5%; margin-top: 20px;  }
	#lorem > #lorembox > .loremimg > .loremimgbox > .loremimgbox7 > img { width: 100%; height: 100%;   }

	#lorem > #lorembox > .loremimg > .loremimgbox > .loremimgbox8 { width: 100%; height: 50%; margin-top: 20px; }
	#lorem > #lorembox > .loremimg > .loremimgbox > .loremimgbox8 > img { width: 100%; height: 100%;   }

	#value { width: 100%; height: 400px; background-color: #000; display: flex; justify-content: center; align-items: center; }
	#value > #valuebox	{ width: 1260px; height: 300px; display: flex; }

	#value > #valuebox > .valuebox1 { width: 50%; height: 100%; padding: 20px; }
	#value > #valuebox > .valuebox1 > h3 {  font-weight: 300; font-family: 'Montserrat', sans-serif; font-size: 35px; color: #fff; margin-bottom: 10px; }
	#value > #valuebox > .valuebox1 > h6 { font-weight: 400; font-size: 19px;  font-family: 'Alegreya', serif; color: #D8D8D8; line-height: 25px;  }
	#value > #valuebox > .valuebox1 > p { color: #D8D8D8; font-weight: 400; font-size: 15px; line-height: 25px; }

	#value > #valuebox > .valueulbox { width: 50%; height: 100%; display: flex; }
	#value > #valuebox > .valueulbox > .valuebox2 { width: 50%; height: 100%; margin-left: 1px; color: #fff; padding: 20px; display: flex; flex-direction: column; align-items: center; }
	#value > #valuebox > .valueulbox > .valuebox2 > ul { text-align: left;  }
	#value > #valuebox > .valueulbox > .valuebox2 > ul > h4 { color: #fff; font-size: 23px; font-weight: 400; margin-bottom: 10px; }
	#value > #valuebox > .valueulbox > .valuebox2 > ul > li { color: #D8D8D8; font-size: 15px; font-weight: 400; margin-bottom: 10px; }

	#content2 { width: 100%; height: 450px; margin: 0 auto; background-image: url("../img/bg2.jpg"); background-attachment: fixed; background-size:cover; overflow: hidden; display: flex; justify-content: center; align-items: center; }
	#content2 > #content2box { width: 1260px; height: 50%;  display: flex; flex-direction: column; align-items: center; }
	#content2 > #content2box > .content2text { width: 100%; height: 60%;  display: flex; flex-direction: column; justify-content: center; align-items: center; }
	#content2 > #content2box > .content2text > h1 { font-size: 60px; font-weight: 300; color: #fff; }
	#content2 > #content2box > button { width: 185px; height: 55px; background-color: #1d1d1d; border: none; margin-top: 10px; font-size: 12px; font-weight: 700; cursor: pointer; letter-spacing: 2px;  color: #fff;}
	#content2 > #content2box > button:hover { opacity: 0.9; }

	#box2 { width: 100%; height: 600px; background-color: #000; display: flex; justify-content: center; }
	#box2 > #boxin2 { width: 1260px; height: 600px;  display: flex;  align-items: center; }

	#box2 > #boxin2 > .insmallbox3 { width: 50%; height: 400px; }
	#box2 > #boxin2 > .insmallbox3 > img { width: 100%; height: 100%; }

	#box2 > #boxin2 > .insmallbox4 { width: 50%; height: 400px;  /*transform: translateX(-2%);*/  display: flex; align-items: center; }
	#box2 > #boxin2 > .insmallbox4 > .inbox5 { width: 100%; height: 350px; background-color: #1B1B1B; margin: 30px 0 30px -10px; color: #fff; padding: 38px 56px 47px;  }
	#box2 > #boxin2 > .insmallbox4 > .inbox5 > h3 { font-family: 'Montserrat', sans-serif; font-size: 35px;  }
	#box2 > #boxin2 > .insmallbox4 > .inbox5 > .bottom2 { width: 50px; border-bottom: 1px solid #ddd; padding-top: 15px; }
	#box2 > #boxin2 > .insmallbox4 > .inbox5 > p { color: #D8D8D8; font-size: 15px; font-weight: 400; line-height: 30px;  }
	#box2 > #boxin2 > .insmallbox4 > .inbox5 > a { text-decoration: none; }
	#box2 > #boxin2 > .insmallbox4 > .inbox5 > a > span  { font-size: 12px; font-weight: 700; letter-spacing: 2px; color: #fff; }

	#content3 { width: 100%; height: 600px; margin: 0 auto; background-image: url("../img/bg3.jpg"); background-attachment: fixed; background-size:cover; overflow: hidden; display: flex; justify-content: center; align-items: center; }
	#content3 > #content3box { width: 1260px; height: 400px;  display: flex; }
	#content3 > #content3box > .canbox { width: 30%; height: 100%;  margin-left: 1px; }

	#content3 > #content3box > .canbox > .chartbox { width: 100%; height: 60%; }
	#content3 > #content3box > .canbox > .chartbox > .chart { float: left; width: 100%; height: 100%; text-align: center; }
	#content3 > #content3box > .canbox > .chartbox > .chart > .title { position: relative; display: block; width: 100%; text-align: center; top: 110px; color: #fff; font-size: 35px; font-weight: 300; line-height: 20px; font-family: 'Montserrat', sans-serif;}

	#content3 > #content3box > .canbox > .textbox { width: 100%; height: 40%;  text-align: center; padding-top: 20px; }
	#content3 > #content3box > .canbox > .textbox > h5 { color: #fff; font-size: 16px; letter-spacing: 1px; font-weight: 400; font-family: 'Montserrat', sans-serif; }
	#content3 > #content3box > .canbox > .textbox  > p {  color: #D8D8D8; font-size: 15px; font-weight: 400; }


	#teamtext { width: 100%; height: 200px; background-color: #000; display: flex; justify-content: center; align-items: center; }
	#teamtext > #teamtextbox { width: 1260px; height: 150px;  display: flex; flex-direction: column; align-items: center; }
	#teamtext > #teamtextbox > h6 { font-size: 23px; font-family: 'Alegreya', serif; color: #D8D8D8; }
	#teamtext > #teamtextbox > h2 { font-size: 48px; font-weight: 300; font-family: 'Montserrat', sans-serif;  color: #fff;}
	#teamtext > #teamtextbox > p { width: 50px; border-bottom: 1px solid #ddd; }


	#team { width: 100%; height: 600px; background-color: #000; display: flex; justify-content: center; }
	#team > #teambox { width: 1260px; height: 400px; display: flex; justify-content: space-between; }

	#team > #teambox > .teamimg1 { width: 23%; height: 70%;  }
	#team > #teambox > .teamimg1 > img { width: 100%; height: 100%; }
	#team > #teambox > .teamimg1 > .teamimgbox { width: 80%; height: 30%; background-color: #1c1c1c; position: relative; left: 30px; bottom: 34px; display: flex; flex-direction: column; align-items: center; padding: 20px; }
	#team > #teambox > .teamimg1 > .teamimgbox > h5 { color: #fff; font-size: 16px; font-weight: 400; font-family: 'Montserrat', sans-serif; }
	#team > #teambox > .teamimg1 > .teamimgbox > .teamh6 { color: #d8d8d8; font-size: 19px; font-weight: 400;  font-family: 'Alegreya', serif; line-height: 20px;  }
	#team > #teambox > .teamimg1 > .teamimgbox > .teamul { display: none; }
	#team > #teambox > .teamimg1 > .teamimgbox > .teamul > ul {  display: flex; width: 100px; justify-content: space-between; }
	#team > #teambox > .teamimg1 > .teamimgbox > .teamul > ul > li > a { color: #d8d8d8;  text-decoration: none; float: left; }
	#team > #teambox > .teamimg1 > .teamimgbox > .teamul > ul > li > a:hover { color: #fff; }

	#team > #teambox > .teamimg2 { width: 23%; height: 70%; margin-top: 100px; }
	#team > #teambox > .teamimg2 > img { width: 100%; height: 100%; }
	#team > #teambox > .teamimg2 > .teamimgbox { width: 80%; height: 30%; background-color: #1c1c1c; position: relative; left: 30px; bottom: 34px; display: flex; flex-direction: column; align-items: center; padding: 20px; }
	#team > #teambox > .teamimg2 > .teamimgbox > h5 { color: #fff; font-size: 16px; font-weight: 400; font-family: 'Montserrat', sans-serif; }
	#team > #teambox > .teamimg2 > .teamimgbox > .teamh6 { color: #d8d8d8; font-size: 19px; font-weight: 400;  font-family: 'Alegreya', serif; line-height: 20px;  }
	#team > #teambox > .teamimg2 > .teamimgbox > .teamul { display: none; }
	#team > #teambox > .teamimg2 > .teamimgbox > .teamul > ul {  display: flex; width: 100px; justify-content: space-between; }
	#team > #teambox > .teamimg2 > .teamimgbox > .teamul > ul > li > a { color: #d8d8d8;  text-decoration: none; float: left; }
	#team > #teambox > .teamimg2 > .teamimgbox > .teamul > ul > li > a:hover { color: #fff; }

	#team > #teambox > .teamimg3 { width: 23%; height: 70%;  }
	#team > #teambox > .teamimg3 > img { width: 100%; height: 100%; }
	#team > #teambox > .teamimg3 > .teamimgbox { width: 80%; height: 30%; background-color: #1c1c1c; position: relative; left: 30px; bottom: 34px; display: flex; flex-direction: column; align-items: center; padding: 20px; }
	#team > #teambox > .teamimg3 > .teamimgbox > h5 { color: #fff; font-size: 16px; font-weight: 400; font-family: 'Montserrat', sans-serif; }
	#team > #teambox > .teamimg3 > .teamimgbox > .teamh6 { color: #d8d8d8; font-size: 19px; font-weight: 400;  font-family: 'Alegreya', serif; line-height: 20px;  }
	#team > #teambox > .teamimg3 > .teamimgbox > .teamul { display: none; }
	#team > #teambox > .teamimg3 > .teamimgbox > .teamul > ul {  display: flex; width: 100px; justify-content: space-between; }
	#team > #teambox > .teamimg3 > .teamimgbox > .teamul > ul > li > a { color: #d8d8d8;  text-decoration: none; float: left; }
	#team > #teambox > .teamimg3 > .teamimgbox > .teamul > ul > li > a:hover { color: #fff; }

	#team > #teambox > .teamimg4 { width: 23%; height: 70%; margin-top: 100px; }
	#team > #teambox > .teamimg4 > img { width: 100%; height: 100%; }
	#team > #teambox > .teamimg4 > .teamimgbox { width: 80%; height: 30%; background-color: #1c1c1c; position: relative; left: 30px; bottom: 34px; display: flex; flex-direction: column; align-items: center; padding: 20px; }
	#team > #teambox > .teamimg4 > .teamimgbox > h5 { color: #fff; font-size: 16px; font-weight: 400; font-family: 'Montserrat', sans-serif; }
	#team > #teambox > .teamimg4 > .teamimgbox > .teamh6 { color: #d8d8d8; font-size: 19px; font-weight: 400;  font-family: 'Alegreya', serif; line-height: 20px;  }
	#team > #teambox > .teamimg4 > .teamimgbox > .teamul { display: none; }
	#team > #teambox > .teamimg4 > .teamimgbox > .teamul > ul {  display: flex; width: 100px; justify-content: space-between; }
	#team > #teambox > .teamimg4 > .teamimgbox > .teamul > ul > li > a { color: #d8d8d8;  text-decoration: none; float: left; }
	#team > #teambox > .teamimg4 > .teamimgbox > .teamul > ul > li > a:hover { color: #fff; }
	#map { width: 100%; height: 500px;  }
	#map > iframe { width: 100%; height: 100%; }


	#coms { width: 100%; height: 600px; background-color: #000; display: flex; align-items: center; justify-content: center; }

	#coms > #comsbox { width: 1260px; height: 500px; display: flex; align-items: center; }
	#coms > #comsbox > .comsform { width: 50%; height: 80%; }
	#coms > #comsbox > .comsform > .container { width: 100%; height: 100%;  display: flex; justify-content: flex-end; }
	#coms > #comsbox > .comsform > .container > form { width: 100%; height: 100%;  display: flex; flex-direction: column;  justify-content: center;   }
	#coms > #comsbox > .comsform > .container > form > .form-group > .form-control { width: 100%; height: 100%; background: linear-gradient(148deg,#2e2e2e 5%,#1c1c1c 5%,#1c1c1c 50%,#2e2e2e 50%,#2e2e2e 55%,#1c1c1c 55%,#1c1c1c 100%); background-size: 18.87px 11.79px; border: 1px solid #1d1d1d; font-size: 15px; color: #d8d8d8;  }
	#coms > #comsbox > .comsform > .container > form > .form-group > #name { height: 50px; }
	#coms > #comsbox > .comsform > .container > form > .form-group > #email { height: 50px;  }
	#coms > #comsbox > .comsform > .container > form > button { width: 180px; height: 40px; border: none; color: #fff; text-align: left; background-color: transparent; font-weight: bold; letter-spacing: 1px;  font-size: 16px; cursor: pointer; }


	#coms > #comsbox > .comstext { width: 50%; height: 80%; display: flex; flex-direction: column; padding-top: 12px; align-items: center; }
	#coms > #comsbox > .comstext > .comstext2 { width: 90%; height: 45%; }
	#coms > #comsbox > .comstext > .comstext2 > h2 { font-size: 48px; color: #fff; font-weight: 300; font-family: 'Montserrat', sans-serif;  }
	#coms > #comsbox > .comstext > .comstext2 > span { width: 50px; border-bottom: 1px solid #ddd; display: block; padding-top: 5px; }
	#coms > #comsbox > .comstext > .comstext2 > p { color: #d8d8d8; font-size: 15px; font-weight: 500; padding: 20px 0px; }

	#coms > #comsbox > .comstext > .comsul { width: 90%; height: 37%; display: flex;  }
	#coms > #comsbox > .comstext > .comsul > .comsul1 { width: 50%; height: 100%; }
	#coms > #comsbox > .comstext > .comsul > .comsul1 > ul > h5 { color: #fff; font-size: 16px; font-weight: 400; margin-bottom: 10px; letter-spacing: 1px; font-family: 'Montserrat', sans-serif; }
	#coms > #comsbox > .comstext > .comsul > .comsul1 > ul > li { color: #D8D8D8; font-size: 15px; font-weight: 400; margin-bottom: 10px; text-align: left; }
	#coms > #comsbox > .comstext > .comsul > .comsul1 > ul > li > a { text-decoration: none; color: #D8D8D8; }
	#coms > #comsbox > .comstext > .comsul > .comsul1 > ul > li > a:hover { color: #fff; }



	#lastbox { width: 100%; height: 500px; background-color: #1C1C1C; display: flex; justify-content: center; align-items: center; }
	#lastbox > #lastbox2 { width: 1260px; height: 300px; display: flex; }

	#lastbox > #lastbox2 > .lastboxs { display: flex;  width: 70%; height: 100%; }
	#lastbox > #lastbox2 > .lastboxs > .lastbox3 { width: 50%; height: 100%; }
	#lastbox > #lastbox2 > .lastboxs > .lastbox3 > h4 { color: #fff; font-size: 23px; font-weight: 400; font-family: 'Montserrat', sans-serif; margin-bottom: 20px; }
	#lastbox > #lastbox2 > .lastboxs > .lastbox3 > p { color: #C3C3C3; font-size: 15px; font-weight: 400; padding-right: 20px; margin-bottom: 30px; }

	#lastbox > #lastbox2 > .lastboxs > .lastbox3 > .lastbox3img { width: 100%; height: 10%; margin-bottom: 15px; display: flex;  }
	#lastbox > #lastbox2 > .lastboxs > .lastbox3 > .lastbox3img > .lastboximg { width: 7.5%; height: 100%; }
	#lastbox > #lastbox2 > .lastboxs > .lastbox3 > .lastbox3img > .lastboximg > img { width: 70%; height: 70%; }

	#lastbox > #lastbox2 > .lastboxs > .lastbox3 > .lastbox3img > .lasttext { width: 94%; height: 100%; }
	#lastbox > #lastbox2 > .lastboxs > .lastbox3 > .lastbox3img > .lasttext > p { font-size: 15px; font-weight: 300; padding-left: 20px; padding-top: 5px; }
	#lastbox > #lastbox2 > .lastboxs > .lastbox3 > .lastbox3img > .lasttext > p > a  { text-decoration: none; color: #d8d8d8; }
	#lastbox > #lastbox2 > .lastboxs > .lastbox3 > .lastbox3img > .lasttext > p > a:hover { color: #fff; }

	#lastbox > #lastbox2 > .lastboxs > .lastbox3 > .lastinput { width: 90%; height: 15%; }
	#lastbox > #lastbox2 > .lastboxs > .lastbox3 > .lastinput > input { width: 100%; height: 100%; background-image: linear-gradient( 148deg,#0f0f0f 5%,#000 5%,#000 50%,#0f0f0f 50%,#0f0f0f 55%,#000 55%,#000 100%); background-size: 18.87px 11.79px; }



	#lastbox > #lastbox2 > .lastboxs > .lastbox4 { width: 50%; height: 100%; }
	#lastbox > #lastbox2 > .lastboxs > .lastbox4 > h4 { color: #fff; font-size: 23px; font-weight: 400; font-family: 'Montserrat', sans-serif;  margin-bottom: 20px; }

	#lastbox > #lastbox2 > .lastboxs > .lastbox4 > .lastbox4p { width: 100%; height: 40%; margin-bottom: 1px;  display: flex; }

	#lastbox > #lastbox2 > .lastboxs > .lastbox4 > .lastbox4p > .lastbox4icon { width: 10%; height: 100%; }
	#lastbox > #lastbox2 > .lastboxs > .lastbox4 > .lastbox4p > .lastbox4icon > .fab { font-size: 20px; color: #fff;  }

	#lastbox > #lastbox2 > .lastboxs > .lastbox4 > .lastbox4p > .lastbox4text { width: 90%; height: 100%; }
	#lastbox > #lastbox2 > .lastboxs > .lastbox4 > .lastbox4p > .lastbox4text > p {  color: #C3C3C3; font-size: 15px; font-weight: 400; line-height: 20px; padding-right: 20px; }
	#lastbox > #lastbox2 > .lastboxs > .lastbox4 > .lastbox4p > .lastbox4text > p > a { text-decoration: none; color: #d8d8d8; }
	#lastbox > #lastbox2 > .lastboxs > .lastbox4 > .lastbox4p > .lastbox4text > p > a:hover { color: #fff;  }

	#lastbox > #lastbox2 > .lastbox5 { width: 34%; height: 100%; }
	#lastbox > #lastbox2 > .lastbox5 > h4 { color: #fff; font-size: 23px; font-weight: 400; font-family: 'Montserrat', sans-serif; } 

	#lastbox > #lastbox2 > .lastbox5 > .lastfeed { width: 100%; height: 88.5%; display: flex; flex-flow: wrap; justify-content: space-between; }
	#lastbox > #lastbox2 > .lastbox5 > .lastfeed > .feedimg { width: 49%; height: 48%; margin-bottom: 10px; margin-left: 1px; }
	#lastbox > #lastbox2 > .lastbox5 > .lastfeed > .feedimg > a > img { width: 100%; height: 100%; }
	#lastbox > #lastbox2 > .lastbox5 > .lastfeed > .feedimg > a > img:hover { opacity: 0.7; }


}