@charset "utf-8";

/* 메인 이미지 */
#slider {width: 100%;  height: 450px; margin: 50px auto; position: relative; overflow: hidden; }
/*js 사용한 슬라이더*/
#slider > .main {width: 2000px; height: 450px;  }
#slider > .main li {width: 2000px; height: 450px;  }
#slider > .main li a img {width: 100%; height: 100%; }

#slider > #spanbtn > span {position: absolute; top:50%; display: block; font-size: 38px; color:#fff; line-height: 40px; background-color: #999; opacity: 0.3; cursor: pointer; height: 50px;  transform: translateY(-50%); }
#slider > #spanbtn > span:hover {background-color: #666; opacity: 1; color:#fff;}
#slider > #spanbtn > .prev {left:0; border-radius: 0 10px 10px 0px; padding: 0 10px; }
#slider > #spanbtn > .next {right:0; border-radius: 10px 0px 0px 10px; padding: 0 10px; }

#contents { width: 1260px; height: 1480px; margin: 0 auto; }
#contents > #tabbox { width: 1260px; height: 230px; margin: 100px auto; }
#contents > #tabbox > .sbox { width: 400px; height: 200px; margin: 0 0 0 20px; float: left; position: relative; overflow: hidden; }
#contents > #tabbox > .sbox > form > fieldset { border: 3px solid #eee; padding: 5px; height: 140px; }
#contents > #tabbox > .sbox > form > fieldset > legend { border: 1px solid #eee; font-size: 14px; width: 60px; height: 20px; }
#contents > #tabbox > .sbox > form > fieldset > legend:hover { background-color: #000; color: #fff; transition: 0.3s; }
#contents > #tabbox > .sbox > form > fieldset > a > p {  text-align: left; font-size: 12px; margin: 10px auto; color: #333; }
#contents > #tabbox > .sbox > form > fieldset > a > p:hover { cursor: pointer; }
#contents > #tabbox > .sbox > form > a > img { margin: 10px auto; }
#contents > #tabbox > .sbox > form > a > img:hover { cursor: pointer; opacity: 50%; }
#contents > #tabbox > .sbox > a > img { width: 400px; height: 210px; margin: 10px auto; }
#contents > #tabbox > .sbox > a > img:hover { cursor: pointer; }

/*js 사용한 슬라이더*/
#contents > #tabbox > .sbox > .main2 {width: 400px; height: 210px;  }
#contents > #tabbox > .sbox > .main2 li {width: 400px; height: 210px;  }
#contents > #tabbox > .sbox > .main2 li a img {width: 100%; height: 100%; }

#contents > #tabbox > .sbox > #spanbtn2 > span {position: absolute; top:50%; display: block; font-size: 38px; color:#fff; line-height: 40px; background-color: #eee; cursor: pointer; height: 50px;  transform: translateY(-50%); }
#contents > #tabbox > .sbox > #spanbtn2 > span:hover {background-color: #999; color:#fff;}
#contents > #tabbox > .sbox > #spanbtn2 > .prev2 {left:0; border-radius: 0 10px 10px 0px; padding: 0 10px; }
#contents > #tabbox > .sbox > #spanbtn2 > .next2 {right:0; border-radius: 10px 0px 0px 10px; padding: 0 10px; }

/* 이벤트 기획전 */
#contents > #event { width: 1260px; height: 320px; margin: 0 auto; }
#contents > #event > #eventmainbox { width: 1260px; height: 100px;  }
#contents > #event > #eventmainbox > a > p { font-size: 30px; margin: 20px auto; text-align:center; color: #333; font-family: 'Quattrocento Sans', sans-serif; }
#contents > #event > #eventmainbox > a > p > span { color: red; }
#contents > #event > #eventmainbox > a > p:hover { cursor: pointer; }
#contents > #event > #eventmainbox > .eventboxs { width: 1260px; height: 311px; margin: 30px 0 0 0px; }	
#contents > #event > #eventmainbox > .eventboxs > .eventbox { width: 300px; height: 232px; float: left; margin: 0 0 0 12px; }
#contents > #event > #eventmainbox > .eventboxs > .eventbox > a > img { width: 298px; height: 187px; }
#contents > #event > #eventmainbox > .eventboxs > .eventbox > a > img:hover { cursor: pointer; opacity: 0.7; }
#contents > #event > #eventmainbox > .eventboxs > .eventbox > a > span { font-size: 12px; color: #999; }
#contents > #event > #eventmainbox > .eventboxs > .eventbox > a > span:hover { cursor: pointer; }
#contents > #event > #eventmainbox > .eventboxs > .eventbox > a > .ediv { font-size: 12px; color: #333; margin: 5px 0 20px 0; height: 25px; border-bottom: 2px solid #eee; }
#contents > #event > #eventmainbox > .eventboxs > .eventbox > a > .ediv:hover { cursor: pointer; }

/* TODAY */
#contents > #today { width: 1260px; height: 810px; margin: 20px auto; }
#contents > #today > .todaytext { width: 1260px; height: 128px; float: left;  }
#contents > #today > .todaytext > p { margin: 60px auto; text-align: center; font-size: 30px; font-family: 'Quattrocento Sans', sans-serif; color: black; }
#contents > #today > .todaytext > p > i { color: red; }
#contents > #today > #tboxs { width: 1260px; height: 800px;  margin: 0 auto; }
#contents > #today > #tboxs > .tbox { width: 236px; height: 322px; float: left; margin: 0 5px 20px 10px; }
#contents > #today > #tboxs > .tbox > a > img { width: 236px; height: 236px; }
#contents > #today > #tboxs > .tbox > a > img:hover { cursor: pointer; opacity: 0.7; }
#contents > #today > #tboxs > .tbox > a > .tname { width: 234px; height: 23px; float: left; font-size: 12px; border-bottom: 1px solid #f0f0f0; color: #333; margin: 5px 0 0 0; }
#contents > #today > #tboxs > .tbox > a > .tname:hover { cursor: pointer; }
#contents > #today > #tboxs > .tbox > span { font-size: 12px; font-weight: bold; color: #333; display: inline-block; padding-bottom: 1px;}
#contents > #today > #tboxs > .tbox > #tsname { font-size: 11px; color: #999; line-height: 120%; margin: 5px 0 0 0;}

/* BEST */
#contents2 { width: 1260px; height: 1450px; margin: 0 auto; }
#contents2 > #bttop { width: 1260px; height: 130px; }
#contents2 > #bttop > .bttext { width: 1260px; height: 100px; float: left;  } 
#contents2 > #bttop > .bttext > p { margin: 45px auto; text-align: center; font-size: 30px; font-family: 'Quattrocento Sans', sans-serif; color: black;  }
#contents2 > #bttop > .bttext > p > i { color: red; }
#contents2 > #bttop > #btboxs { width: 1260px; height: 1482px; margin: 0 auto; }
#contents2 > #bttop > #btboxs > .btbox { width: 236px; height: 325px; float: left; margin: 0 5px 20px 10px; }
#contents2 > #bttop > #btboxs > .btbox > a > img { width: 236px; height: 236px; }
#contents2 > #bttop > #btboxs > .btbox > a > img:hover { cursor: pointer; opacity: 0.7; }
#contents2 > #bttop > #btboxs > .btbox > a > .bname { width: 234px; height: 23px; border-bottom: 1px solid #f0f0f0; font-size: 12px; color: #333; margin: 5px 0 0 0; }
#contents2 > #bttop > #btboxs > .btbox > a > .bname:hover { cursor: pointer; }
#contents2 > #bttop > #btboxs > .btbox > .bspan { font-size: 11px; color: #999;  line-height: 120%; padding-top: 20px; }
#contents2 > #bttop > #btboxs > .btbox > span { font-size: 12px; font-weight: bold; color: #333; padding: 5px 0; }

/* Desk */
#contents3 { width: 1260px; height: 1900px;  margin: 0 auto; }
#contents3 > #bestdesk { width: 1260px; height: 650px; }
#contents3 > #bestdesk > a > img { width: 1260px; height: 562px; margin: 0 auto; }
#contents3 > #bestdesk > a > img:hover { cursor: pointer; }
#contents3 > #bestdesk > #bdboxs {width: 1260px; height: 1300px; margin: 0 auto; }
#contents3 > #bestdesk > #bdboxs > .bdbox { width: 236px; height: 322px; float: left; margin: 0 5px 10px 10px; }
#contents3 > #bestdesk > #bdboxs > .bdbox > a > img { width: 236px; height: 236px; }
#contents3 > #bestdesk > #bdboxs > .bdbox > a > img:hover { cursor: pointer; opacity: 0.7; }
#contents3 > #bestdesk > #bdboxs > .bdbox > a > .bdname { width: 234px; height: 23px; float: left; font-size: 12px; border-bottom: 1px solid #f0f0f0; color: #333; margin: 5px 0 0 0; }
#contents3 > #bestdesk > #bdboxs > .bdbox > a > .bdname:hover { cursor: pointer; }
#contents3 > #bestdesk > #bdboxs > .bdbox > span { font-size: 12px; font-weight: bold; color: #333;  }
#contents3 > #bestdesk > #bdboxs > .bdbox > #bdspan { font-size: 7px; color: #999; }

/* Stand */
#contents4 { width: 1260px; height: 1650px; margin: 0 auto;  }
#contents4 > #beststand { width: 1260px; height: 562px;  }
#contents4 > #beststand > a > img { width: 1260px; height: 562px; margin: 0 auto;}
#contents4 > #beststand > a > img:hover { cursor: pointer; }
#contents4 > #beststand > #bsboxs { width: 1260px; height: 1030px; margin: 0 auto; }
#contents4 > #beststand > #bsboxs > .bsbox { width: 236px; height: 322px; float: left; margin: 1px 5px 30px 10px; }
#contents4 > #beststand > #bsboxs > .bsbox > a > img { width: 236px; height: 236px; }
#contents4 > #beststand > #bsboxs > .bsbox > a > img:hover { cursor: pointer; opacity: 0.7; }
#contents4 > #beststand > #bsboxs > .bsbox > a > .bsname { width: 234px; height: 23px; float: left; font-size: 12px; border-bottom: 1px solid #f0f0f0; color: #333; margin: 5px 0 0 0; }
#contents4 > #beststand > #bsboxs > .bsbox > a > .bsname:hover { cursor: pointer; }
#contents4 > #beststand > #bsboxs > .bsbox > span { font-size: 12px; font-weight: bold; color: #333;  }
#contents4 > #beststand > #bsboxs > .bsbox > .bsspan { font-size: 7px; color: #999;  }
